@import url(database.css);

@media (max-width: 479px) {
    body>form>div {
        /*width: 99% !important;*/
    }
}
 
div.querytable.career > table
{
	/*width: 695px;*/
}

div.career table td > label {
    display: block;
    margin-top: 6px;
    margin-bottom: 0;
    font-weight: 300;
}

@media (max-width: 479px) {
    div.career table td > label,
    div.career div > label,
    .profile-summary > span { 
        font-size: 14px !important;
    }
}

div.career table td.cv-languages > label {
    margin-top: 0;
}

div.career table td.nationality > label {
    margin-top: 0;
    margin-bottom: 7px;
}

div.career table td.nationality select {
    margin-top: 1px;
    margin-left: -1px;
}

div.career table td.gender > label {
/*    display: inline;
*/}

div.querytable
{
	padding-top: 4px;
	margin-right: 0px !important;
	/*margin-left: 10px!important;*/
}

/* contact consent form BEGIN */

.xspForm > div {
    width: 100% !important;
}


div.disclaimer {
    color: #666666;
    padding-bottom: 10px;
    padding-bottom: .625rem;
    line-height: 24px;
    line-height: 1.5rem;
}

.contact-consent table td.label {
    width: 15% !important;
    vertical-align: middle;
}

.contact-consent fieldset.xspRadioButton {
    margin-top: -14px;
    margin-top: -0.875rem;
    margin-bottom: -8px;
}

.field-link-button.database.querybutton.dbbutton {
    margin-top: -44px;
}

/* Contact consent form END */


@media (max-width: 479px) {
    div.querytable {
        padding-left: 0 !important;
        padding-right: 6px !important;
    }
}

h2.table-title.career
{
}

input
{
/*	padding: 5px 0 !important;*/
/*	background: none !important;*/
	margin-bottom: 10px !important;
}

.cv-languages,
.nationality,
.lastname,
.name,
.mobilephone,
.otherphone,
.email
{
	vertical-align: top;
}

textarea
{
	margin-top: 5px !important;
    width: 98% !important;
}


.querytable table td.lastname,
.querytable table td.name,
.querytable table td.mobilephone,
.querytable table td.otherphone,
.querytable table td.email,
.querytable table td.gender {
    width: 47% !important;
}

@media (max-width: 538px) {
.querytable table td.lastname,
.querytable table td.name,
.querytable table td.mobilephone,
.querytable table td.otherphone,
.querytable table td.email,
.querytable table td.gender {
    width: 50% !important;
    }
.contact-consent table td.label {
    width: 25% !important;
}
}

.querytable table td.spacer {
    width: 4% !important;
}

.querytable table td.lastname input,
.querytable table td.name input,
.querytable table td.mobilephone input,
.querytable table td.otherphone input,
.querytable table td.email input,
.querytable table td.cv-languages input,
.querytable table td.nationality select {
    /*width: 366px !important;*/
    width: 98% !important;
}

@media (max-width: 479px) {
.querytable table td.lastname input,
.querytable table td.name input,
.querytable table td.mobilephone input,
.querytable table td.otherphone input,
.querytable table td.email input,
.querytable table td.cv-languages input,
.querytable table td.nationality select {
    /*width: 366px !important;*/
    width: 110px !important;
    }
.contact-consent table td input[type="text"] {
    width: 130px !important;
    }
.contact-consent table td.label {
        width: 110px !important;
    }
}


.querytable table td.nationality select {
    width: 99.25% !important;
}

.querytable table td.cv-languages select{
    width: 99% !important;
}

.profile-summary textarea,
.career-plan textarea {
    margin-left: 0;
    width: 99% !important;
}

/*.querytable table td.name input,
.querytable table td.otherphone input {
    width: 99% !important;
}*/

.querytable table td.lastname input,
.querytable table td.mobilephone input,
.querytable table td.email input {
    /*margin-right: 9px;*/
}

.querytable table td.lastname,
.querytable table td.mobilephone,
.querytable table td.email {
    /*margin-right: 9px;*/
}


.gender-inner-wrapper {
    display: block;
}

.gender-inner-wrapper input {
    margin-left: 3px;
}

.gender-inner-wrapper fieldset {
    float: left;
    margin-right: 26px;
    padding-left: 0;
    margin-left: -6px;
}

@media (max-width: 479px) {
    .gender-inner-wrapper fieldset {
        margin-right: 0;
    }
    .gender-inner-wrapper table td:nth-child(1) label {
        margin-left: 3px;
    }
    .gender-inner-wrapper table td:nth-child(1) input {
        margin-left: 0;
    }
}

.xspRadioButton label {
    margin-right: 4px;
}

.birthyear-inner-wrapper {
    padding-top: 8px;
}

.birthyear-inner-wrapper select {
    height: 33px;
/*    width: 111px !important;*/
    width: 90px !important;

    margin-right: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

@media (max-width: 538px) { 
    .birthyear-inner-wrapper select {
        width: 128px !important;
        margin-left: -1px;
        margin-top: 8px;
        margin-bottom: 16px;
        float: right;
    }
}

.querytable table td.profile-summary textarea,
.querytable table td.career-plan textarea {
    margin-top: -12px !important;
}

.interested-in-working label,
.career-plan label {
    margin-top: 15px !important;
}

.file-uploads h3 {
    margin-top: -12px;
    margin-bottom: 16px;
}

.interested-in-working input,
.td-policy-text input,
.td-newsletter-text input {
    width: 16px;
    height: 16px;
    margin-left: 0;
    margin-bottom: 0 !important;
}

.querytable table td.cv-languages select {
    margin-bottom: 16px;
}

.querytable table td.profile-summary span {
    display: block;
    margin-bottom: 0;
}


.upload
{
background-color: white;
border: 1px solid #b3b3b3;
margin: 5px 0px 20px 2px !important;
padding: 3px 0px 5px 2px !important;
width: 46.3%;
}

@media (max-width: 479px) {
    .upload {
        width: 98% !important;
        font-size: 12px !important;
    }
}

.upload.first {
margin-right: 5.2% !important;
}

.upload.third {
    /*margin: 5.2% !important;*/
}

.upload.second
{
/*	margin-left: 73px !important;
*/
    /*margin-left: 43px !important;*/
    /*margin-right: 0;*/
    margin-left: 0;
}

.td-policy-text
{
	/*padding-right: 40px!important;*/
}

.td-newsletter-text {
    padding-top: 17px;
}

a.policy
{
	text-decoration: underline;
}


.inputwrapper .upload.second
{
/*	margin-left: 59px !important;
	margin-right: 0px !important;*/
}

.xspComboBox
{
	/*height: 20px!important;*/
}

div.asterisks
{
	margin-top: 20px;
    color: #666666;
}

/* Submit your CV Button 11.06.2013 */

div.querybutton .field-items
{
	float: none !important;
}

/*div.field-link-button
{
	margin-top: -20px;
}*/

.td-submit-your-cv button {
    margin-top: -8px;
}

input[aria-invalid="true"],
fieldset[aria-invalid="true"] {
    border: 1px solid #faa61a !important;
}



/* buttons */

.btn {
	  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
}

.btn-warning {
	background-image: linear-gradient(#ffcb62, #ff9900);
	 background-color: #faa732;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
}