/*************************************************/
/***Stylesheet for the Contact us Landing Page ***/
/*************************************************/
/***created by: criscom 25.10.2012 / 04.11.2012***/
/*************************************************/
/***####Review whenever new office is added####***/
/*************************************************/

/*  Contact us Landing page 25.10.2012*/

/* @group Quicktabs Menus */

.block-quicktabs .quicktabs-ui-wrapper:before,
.block-quicktabs .quicktabs-ui-wrapper:after {
	content: " ";
	display: table;
}

.block-quicktabs .quicktabs-ui-wrapper:after {
	clear: both;
}

#block-quicktabs-contact-us-landing-page h2.block-title
{
/*background-image: url("../images/header-button.png");*/
/*background-repeat: no-repeat;
background-position: 0 -6px;
margin-top: 20px;
padding-bottom: 5px;*/
/*padding-left: 50px;*/
/*color: #084c8b;
margin-right: 3%;
margin-left: 3%;*/
}

/*#block-quicktabs-contact-us-landing-page h2.block-title div
{
	margin-top: 5px;
}*/

#quicktabs-contact_us_landing_page
{
/*	background-image: url("../images/bg-db-language-bar-710px.png");
	width: 724px!important;*/
/*	height: 32px!important;*/
/*	background-position: 14px 0px;
	background-repeat: no-repeat;
	background-color: transparent;*/
}

#quicktabs-contact_us_landing_page div > ul.quicktabs-tabs
{
/*	padding-top: 6px!important;
	height: 32px!important;*/
}

#quicktabs-contact_us_landing_page div > ul.quicktabs-tabs > li
{
	padding: 16px 0px;
	padding-left: 30px;
	padding-right: 40px!important;
}

#quicktabs-contact_us_landing_page div > ul.quicktabs-tabs > li.first
{
	padding-left: 0px!important;
}

#quicktabs-contact_us_landing_page div > ul.quicktabs-tabs > li.last
{
	padding-left: 50px!important;
}

#quicktabs-contact_us_landing_page ul.quicktabs-tabs li a
{
	color: #5892d0;
	text-decoration: none!important;
	
}

/*#quicktabs-contact_us_landing_page div > ul.quicktabs-tabs > li.first > a.active.quicktabs-loaded,
#quicktabs-contact_us_landing_page div > ul.quicktabs-tabs > li.last > a.active
{
	font-weight: normal;
}*/

#quicktabs-contact_us_landing_page div > ul.quicktabs-tabs > li.active.first > a.active.quicktabs-loaded,
#quicktabs-contact_us_landing_page div > ul.quicktabs-tabs > li.active.last > a.active
{
	color: #084C8B!important;
	font-weight: bold;
}

#quicktabs-contact_us_landing_page ul.quicktabs-tabs li a
{
	color: #5892d0;
	text-decoration: none!important;
	font-weight: normal;
	
}

/* @end Quicktabs Menu */

#quicktabs-contact_us_landing_page #block-views-contact-us-block
{
	/*margin-top: 25px;*/
}

#quicktabs-contact_us_landing_page div div div .content
{
	/*margin-left: 25px;*/
}

#quicktabs-contact_us_landing_page table.cols-3
{
	/*width: 654px;*/
}


#quicktabs-contact_us_landing_page table.cols-3 td.col-1
{
	/*width: 232px!important;*/
}

#quicktabs-contact_us_landing_page table.cols-3 td.col-2
{
	/*width: 214px!important;*/
}


.view-contact-us .views-row,
.view-contact-us div.views-field-title p
{
	border-bottom: none;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}



#quicktabs-contact_us_landing_page div div div .content .cols-3  span.field-content a:hover
{
	text-decoration: none;
}

/* @group LISTED BY COUNTRY*/


/* BY COUNTRY First letter bold of first city of alphabetical letter */

#block-views-contact-us-block-1 .view-contact-us  p.Albania:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Belarus:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Canada:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Egypt:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Finland:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Georgia:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Hungary:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.India:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Kazakhstan:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Latvia:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Macedonia:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Nigeria:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Perú:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Romania:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Saudi.Arabia:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Thailand:first-letter,
#block-views-contact-us-block-1 .view-contact-us  p.Ukraine:first-letter
{
	font-weight: bold;
}

#block-views-contact-us-block-1 .view-contact-us  p.Azerbaijan,
#block-views-contact-us-block-1 .view-contact-us  p.Bulgaria,
#block-views-contact-us-block-1 .view-contact-us  p.Czech,
#block-views-contact-us-block-1 .view-contact-us  p.Estonia,
#block-views-contact-us-block-1 .view-contact-us  p.France,
#block-views-contact-us-block-1 .view-contact-us  p.Greece,
#block-views-contact-us-block-1 .view-contact-us  p.Hungary,
#block-views-contact-us-block-1 .view-contact-us  p.Israel,
#block-views-contact-us-block-1 .view-contact-us  p.Kenya,
#block-views-contact-us-block-1 .view-contact-us  p.Lithuania,
#block-views-contact-us-block-1 .view-contact-us  p.Mongolia,
#block-views-contact-us-block-1 .view-contact-us  p.Nigeria,
#block-views-contact-us-block-1 .view-contact-us  p.Poland,
#block-views-contact-us-block-1 .view-contact-us  p.Russia,
#block-views-contact-us-block-1 .view-contact-us  p.Spain,
#block-views-contact-us-block-1 .view-contact-us  p.Turkey
{
	padding-bottom: 10px;
}

/* @end */

/* @group LISTED ALPHABETICALLY By city */

/* First letter bold of first city of alphabetical letter */

.view-contact-us div.Almaty div.views-field-title p:first-letter,
.view-contact-us div.Baku div.views-field-title p:first-letter,
.view-contact-us div.Cairo div.views-field-title p:first-letter,
.view-contact-us div.Dubai div.views-field-title p:first-letter,
.view-contact-us div.Helsinki div.views-field-title p:first-letter,
.view-contact-us div.Istanbul div.views-field-title p:first-letter,
.view-contact-us div.Jakarta div.views-field-title p:first-letter,
.view-contact-us div.Kiev div.views-field-title p:first-letter,
.view-contact-us div.Lagos div.views-field-title p:first-letter,
.view-contact-us div.Madrid div.views-field-title p:first-letter,
.view-contact-us div.Nairobi div.views-field-title p:first-letter,
.view-contact-us div.Paris div.views-field-title p:first-letter,
.view-contact-us div.Riga div.views-field-title p:first-letter,
.view-contact-us div.Santiago div.views-field-title p:first-letter,
.view-contact-us div.Tallinn div.views-field-title p:first-letter,
.view-contact-us div.Ulaanbaatar div.views-field-title p:first-letter,
.view-contact-us div.Vienna div.views-field-title p:first-letter,
.view-contact-us div.Warsaw div.views-field-title p:first-letter,
.view-contact-us div.Yerevan div.views-field-title p:first-letter,
.view-contact-us div.Zagreb div.views-field-title p:first-letter
{
	font-weight: bold;
}

.view-contact-us div.Athens div p.city,
.view-contact-us div.Budapest div p.city,
.view-contact-us div.Chisinau div p.city,
.view-contact-us div.Dubai div p.city,
.view-contact-us div.Hyderabad div p.city,
.view-contact-us div.Istanbul div p.city,
.view-contact-us div.Johannesburg div p.city,
.view-contact-us div.Kiev div p.city,
.view-contact-us div.London div p.city,
.view-contact-us div.Munich div p.city,
.view-contact-us div.Nicosia div p.city,
.view-contact-us div.Prague div p.city,
.view-contact-us div.Riyadh div p.city,
.view-contact-us div.Petersburg div p.city,
.view-contact-us div.Toronto div p.city,
.view-contact-us div.Ulaanbaatar div p.city,
.view-contact-us div.Vilnius div p.city,
.view-contact-us div.Warsaw div p.city,
.view-contact-us div.Yerevan div p.city
{
	padding-bottom: 10px!important;
}

#block-views-contact-us-block div.view-contact-us .view-content .li_group
{
	float: left;
	width: 33%;
} 

@media only screen and (max-width: 460px) {
	#block-views-contact-us-block div.view-contact-us .view-content .li_group {
		width: 100%;
	}
}

#block-views-contact-us-block div.view-contact-us .view-content .li_group.first
{
	/*width: 220px!important;*/
}

#block-views-contact-us-block div.view-contact-us .view-content .li_group.second
{
	/*width: 248px!important;*/
}

#block-views-contact-us-block div.view-contact-us .view-content .li_group.third

{
	/*width: 130px!important;*/
}



/* Listed by country HTML LIST in view*/

.view-contact-us .view-content div.item-list
{
	position: relative!important;
}




#quicktabs-tabpage-contact_us_landing_page-1 div.view-id-contact_us div.view-content div.item-list,
#quicktabs-tabpage-contact_us_landing_page-2 div.view-id-contact_us div.view-content div.item-list,
#quicktabs-tabpage-contact_us_landing_page-2 div.view-id-contact_us div.view-content div.view-grouping .view-grouping-header,
#block-views-contact-us-block-1 .view-contact-us .view-content div.item-list
{
	clear: both;
}

#quicktabs-tabpage-contact_us_landing_page-1 div.view-id-contact_us div.view-content div.item-list ul,
#quicktabs-tabpage-contact_us_landing_page-2 div.view-id-contact_us div.view-content div.item-list ul,
.view-contact-us .view-content div.item-list ul
{
/*	line-height: 26px!important;*/
}

#block-views-contact-us-block-2 .view-contact-us .view-content div.item-list,
#block-views-contact-us-block-2 .view-contact-us .view-content div.item-list ul,
#block-views-contact-us-block-2 .view-contact-us .view-content div.item-list ul li
{
	padding-left: 0px;
	margin-top: 0px;
	margin-left: 0px;
}

#block-views-contact-us-block-2 .view-contact-us .view-content div.item-list ul li
{
	margin-left: -9px;
}

#block-views-contact-us-block-2 .view-contact-us .view-content div.item-list>div>p
{
/*	margin-top: -3px;
	font-weight: normal!important;
	margin-bottom: 5px;*/
}

#quicktabs-tabpage-contact_us_landing_page-1 div.view-id-contact_us div.view-content div.item-list ul li,
#quicktabs-tabpage-contact_us_landing_page-2 div.view-id-contact_us div.view-content div.item-list ul li,
.view-contact-us .view-content div.item-list ul li
{
	list-style: none!important;
	list-style-type: none!important;
	list-style-image: none!important;
/*	line-height: 26px!important;*/
/*	font-size: 12px;
*/	border: none!important;

}

#quicktabs-tabpage-contact_us_landing_page-1 div.view-id-contact_us div.view-content div.item-list ul li div,
#quicktabs-tabpage-contact_us_landing_page-2 div.view-id-contact_us div.view-content div.item-list ul li div,
#block-views-contact-us-block-1 .view-contact-us .view-content div.item-list ul div
{
	float: left;
}

#qt-contact_us_landing_page-ui-tabs3 {
	padding-right: 0!important;
}

#qt-contact_us_landing_page-ui-tabs3 .Delhi span:before,
#qt-contact_us_landing_page-ui-tabs3 .Petersburg span:before,
#qt-contact_us_landing_page-ui-tabs3 .Shanghai span:before,
#qt-contact_us_landing_page-ui-tabs3 .Chisinau span:before {
	content: ', ';
	color: #666666;
}

#quicktabs-tabpage-contact_us_landing_page-1 div.view-id-contact_us div.view-content div.item-list ul li a:hover,
#quicktabs-tabpage-contact_us_landing_page-2 div.view-id-contact_us div.view-content div.item-list ul li a:hover,
.view-contact-us .view-content div.item-list ul a:hover
{
	text-decoration: underline!important;
}

/* @group CSS stylings by region */

#block-views-contact-us-block-2 div.content div.view .view-grouping-header
{
	/*height: 10px;*/
}



/*#block-views-contact-us-block-2 div.content div.view div.view-content .europe {
	float: left!important;
	width: 50%;
}*/

#block-views-contact-us-block-2 div.content div.view div.view-content .middle-east-africa 
{
	float: right!important;
	width: 50%;
	margin-bottom: 20px;
} 

#block-views-contact-us-block-2 div.content div.view div.view-content .asia
{
/*	clear: both;*/
	float: right;
	width: 50%;
	margin-bottom: 20px;
}

#block-views-contact-us-block-2 div.content div.view div.view-content .america
{
	float: right;
	width: 50%;
}

body.page-node-895 #footer
{
	clear: both;
}

#block-views-contact-us-block-2 div.content div.view div.view-content .europe-wrapper {
	float: left!important;
	width: 50%;
}

/* Listed by country*/

#block-views-contact-us-block-1 div.content .view .view-content .li_group
{
	float: left;
	width: 50%;
	margin-top: 3px;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
	#block-views-contact-us-block-1 div.content .view .view-content .li_group {
		float: none;
		width: 100%;
}
}


.view-grouping.asia,
.view-grouping.america
{
	margin-top: 25px;
}


/* Quicktabs Jquery UI */

#block-views-contact-us-block-1 /* Listed by country selbe höhe wie alphabetically */

{
	/*margin-bottom: 9px!important;*/
}

/*block-views-contact-us-block-2 /* Listed by region selbe Höhe wie alphabetically *!/
{
	margin-top: 9px!important;
}*/

.ui-tabs {
	padding: 0;
	margin: 0;
}


.ui-tabs .ui-tabs-panel
{
	/*padding-top: 0px!important;*/
}

.ui-widget-header
{
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
/*	color: none;
	font-weight: normal;*/

}

.ui-widget-content
{

	border: 0;
	/*border-top-right-radius: 0;*/
	/*border-top-left-radius: 0;*/
/*	border: none;
	background: transparent;
	color: #5892d0;*/
}

.ui-tabs-panel:before,
.ui-tabs-panel:after {
	content: " ";
	display: table;
}

.ui-tabs-panel:after {
	clear: both;
}

.ui-tabs-panel {
	border: 1px #d3d3d3 solid !important;
}

.ui-tabs .ui-tabs-nav {
	padding: 0;
	margin: 0;
}


.ui-state-active {
		border-color: #d3d3d3 !important;

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
/*	border: none;
	background: none;
	color: #5892d0;*/
}

.ui-state-hover a, .ui-state-hover a:hover
{
/*	color: #5892d0;
	font-size: 12px;
*/}

/* CR Poul Pedersen BY REGION hide country names */


/* @ End Contact us Landing page */