/** Special stylesheet for the pedersen DATABASE - 04.06.2012 **/



/* Links allgemein */

p {
	margin: 1.4em 0;
}

a:link, a:visited, a:active
{
	color: #003465;
	text-decoration: underline;
	font-weight: normal;
}

a:hover, a:focus {
	text-decoration: none;
}

input[aria-invalid="true"],
fieldset[aria-invalid="true"] {
    border: 1px solid #faa61a !important;
}

ul.errortext li {
	list-style: none;
	list-style-type: none;
	color: #faa61a !important;
}

h2.title

	{
		clear: both;
		font-size: 32px;
		font-size: 2rem;
		color: #003465;
		font-weight: 300;
		font-family: Roboto, Arial, sans-serif;
		line-height: 1.1em;
		margin-bottom: 16px;
		margin-bottom: 1rem;
	}

h3 {
	color: #003465;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	line-height: 1.1em;
}

/* button */

.btn {
	padding: 6px 12px;
	margin-right: 12px 0 0;
	text-align: left;
	-moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #cccccc #cccccc #b3b3b3;
  border-image: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  /*padding: 4px 12px;*/
  text-align: left;
  /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
  vertical-align: middle;
}

.btn-warning {
	 background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcb62), color-stop(100%, #ff9900));
  background-image: -webkit-linear-gradient(#ffcb62, #ff9900);
  background-image: -moz-linear-gradient(#ffcb62, #ff9900);
  background-image: -o-linear-gradient(#ffcb62, #ff9900);
  background-image: linear-gradient(#ffcb62, #ff9900);
	background-color: #faa732;
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #ffffff !important;
  text-decoration: none !important;
}

.btn:hover, .btn:focus {
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #f89406;
    color: #ffffff;
}

/* Button in sidebar */

.btn-warning.login
{
	/*width: 242px !important;*/
	width: 249px !important;
	margin-top: 14px;
}

/* sidebar login */

form {
	font-family: Arial, sans-serif;
}

form span.login,
form div.login

 {
	font-size: 16px;
	font-size: 1rem;
	color: #666666;
/*	width: 590px!important;*/
	}

.querytable table td.lastname input,
.querytable table td.name input,
.querytable table td.mobilephone input,
.querytable table td.otherphone input,
.querytable table td.email input,
.querytable table td.cv-languages select,
.querytable table td.nationality select,
.request-for-more-information-table-inner input[type="text"],
.request-for-more-information-table-inner textarea,
.contact-consent table td input[type="text"],
form.premium-compensation-database-login input {
	margin: 8px 0 12px;
	margin: 0.5rem 0 0.75rem;
	/*width: 234px !important;*/
	width: 245px !important;
	font-size: 16px;
	font-size: 1rem;
	color: #666666;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: 0 !important;
	line-height: 20px;
}

/* Request for more information specific BEGIN */

/*.request-for-more-information-table-inner input {
	margin: 8px 0 12px;
	margin: 0.5rem 0 0.75rem;
		color: #666666;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: 0 !important;
	line-height: 20px;
}*/

.request-for-more-information-table-wrapper {
	margin-top: -41px;
}

.request-for-more-information-table-wrapper h2 {
	margin-bottom: 20px !important;
}

.countrybox input {
	   height: 20px;
    margin-top: 0;
    margin-right: 8px;
    width: 16px;
}

.request-for-more-information-table td input[type="checkbox"]
 {
	height: 20px;
	width: 16px;
}

.request-for-more-information-table td {
	color: #666666;
}

.input-authorize {
	margin-top: 12px;
}

/* Request for more information spcific END */


.request-for-more-information-table-inner select {
	margin: 8px 0 12px;
}

.request-for-more-information-table-inner input,
.contact-consent table td input[type="text"],
.querytable table td.lastname input,
.querytable table td.name input,
.querytable table td.mobilephone input,
.querytable table td.otherphone input,
.querytable table td.email input,
.querytable table td.cv-languages input,
.querytable table td.nationality input,
.request-for-more-information-table-inner input[type="text"],
form.premium-compensation-database-login input {
		height: 29px;
}

div.premium-compensation-database-login .btn {
	text-align: left;
}


span[role="alert"] ul {
	padding-left: 0;
	list-style: none;
}
	

form div.login
{
	/*text-align: justify;*/
}


td
{
	color: #003465;
}

.request-text {
	color: #666666 !important;
}

td span,
td label {
	/*color: #666666 !important;*/
	color: #666666 !important;
	font-size: 16px !important;
	line-height: 24px;
	line-height: 1.5rem;
}

span[role="alert"]>span {
	color: #faa61a !important;
}

.errortext {
	/*background-color: rgb(214, 214, 214);*/
	background-color: transparent;
	border-right: 4px;
}

span[role="alert"] table.errortext td,
span table.errortext td {
	color: #faa61a !important;
}

/* @group query page */

/* Adjusting the Title border bottom to be inline with the language menu 
body.page-node-782 h1#page-title
{
	
}*/

/*@media only screen and (min-width: 1200px) {*/
	.language-menu-outer-wrapper {
		width: 110%;
	}
/*}*/

.language-menu-wrapper-inner-inner,
.language-menu-wrapper-inner
{
	/*width: 720px;*/
	width: 100%;
	margin-bottom: 0px!important;
}

form.cdbquerypage,
form.cdbresultspage
 {
	margin-left: 0px;
/*	margin-left: 220px;  comment out when uploading to server*/
}

td.text-area div {
	margin: 30px 15px 10px 15px;
	font-size: 14px;
	color: #666666;
	text-align: left;
}

td.queryfield.description
{
	/*text-align: justify!important;*/
	
}

td.queryfield.description 
{
	border-top: 15px solid transparent;
/*	border-left: 205px solid transparent;*/
	border-left: 195px solid transparent;
	
	border-bottom: 15px solid transparent;
}

td.queryfield.description span
{
	margin: 10px 0px;
}

td.text-area div a
{
	color: #003465;
	text-decoration: none;
	font-weight: bold;
}

h2.table-title
{
	margin: 0 11px;
	padding: 15px 0 11px;
	font-family: Roboto, Verdana, Arial, sans-serif;
	font-size: 24px;
	/*color: #0e3b7a;*/
	color: rgb(0,52,101);
	font-weight: 300;
}

table.language-bar
{
	margin-top: 0px;
/*	margin-top: 50px; comment out when uploading to server*/
/*	background-image: url("../images/bg-db-language-bar.png");*/
	/*background-image: url("../images/bg-db-language-bar-710px.png"); /* new 14.06.2012 */*/
	/*width: 712px!important; /* new 14.06.2012 */*/
	width: 100%;
	/*height: 32px;*/
	/*background-position: 0 0;*/
	/*background-repeat: no-repeat;*/
	/*background-color: transparent;*/
}

td.language-bar
{
/*height: 30px;*/
/*padding-top: 0px;*/
padding-top: 5px;
padding-bottom: 25px;
padding-left: 0;
border-bottom: 1px solid #cccccc;
text-align: left;
}

td.language-bar a:link,
td.language-bar a:visited
{
	font-family: Roboto, Arial, sans-serif;
	color: #003465; /* blue */
	text-decoration: none;
	margin-right: 36px;
	margin-right: 2.25rem;
}

td.language-bar a:last-child {
	margin-right: 0;
}


td.language-bar a:hover,
td.language-bar a:active,
td.language-bar a.active
{
	color: #faa61a; /* orange */
}

td.logout-bar
{
width: 150px!important;
}

div.logoutbutton .field-items
{
	float: right;
/*	margin-top: -10px;*/
}

table.request-for-more-information-table-inner,
div.querytable {
	/* background-color: #dde5ec; */
	background-color: rgb(238,238,238);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding-bottom: 30px;
	margin-right: 9px;
	padding-left: 19px;
	padding-right: 19px;

}

table.request-for-more-information-table-inner {
	padding-top: 16px;
	padding-top: 1rem;
}

div.querytable > table
{

	padding-bottom: 20px;
	margin-left: 10px; /* added 15.06.2012 criscom */
	/*width: 700px;*/ /* added 15.06.2012 criscom */
	width: 95% !important;

}

div.border-line
{
	/*margin: 0 15px 3px;*/
	/*border-bottom: 1px solid #CCC;*/
}

div.border-view-report

{
	border: none;
}

td,
.request-text {
		font-family: Arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
}

/* @group queryfields query page */

td.queryfield
{
/*	padding-left: 50px;*/
	text-align: right;
	padding-right: 20px;
	width: 180px;
	margin-left: 0px;
	padding-left: 0px;
}


td.selectbox-number-of-employees,
td.selectbox-language-of-the-report
{
	padding-right: 0px;
}

td.queryfield.turnover,
td.queryfield.currency
{
	padding-left: 0px!important;
	padding-right: 20px!important;
	width: 160px;

}

/* select fields length */
.selectbox select
{
	border: 1px solid #CCC;
	-webkit-appearance: none;
	padding: 0px 0px 2px 5px;
	font-size: 16px;
	/*height: 20px;*/
	height: 33px;
	overflow: hidden!important;
	/*background: url(../images/selectbox-arrow.png) no-repeat right top #FFF;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #666666;
}

.selectbox-country select,
.selectbox-location select,
.selectbox-head-office-in select

{
	width: 160px;
}

.selectbox-number-of-employees select,
.selectbox-age-of-the-employee select,
.select-age-of-the-employee select,
.selectbox-language-of-the-report select,
.selectbox-turnover select,
.selectbox-currency select
{
	width: 140px!important;
}

.selectbox-turnover select,
.selectbox-currency select

{
	margin-right: 25px;
}

td.selectbox-position select
{
	margin-left: 0px;
}

/* @end queryfields */

/* @group error messages */

div.querytable ul

{
	margin-left: 180px;
}

div.querytable li

{
	font-size: 16px;
	color: #F6B11D;

}


/* Button */

/*div.dbbutton
{
	overflow: visible;
	width: 100%;
	padding-left: 0px;
}

div.dbbutton .field-items {
background-image: url("../images/link-button-left-db.png");
background-repeat: no-repeat;
background-position: 0 0;
height: 25px;
display: block;
font-size: 16px;
line-height: 25px;
}*/

/*div.dbbutton .field-item
{
	padding-top: 0px;
	display: block;
	padding-left: 10px;
	margin-bottom: 26px;
}*/

/*div.dbbutton .field-item a,
div.dbbutton .field-item button 

{
font-family: Verdana, Arial, sans-serif;
color: white;
background-image: url("../images/link-button-right-db-up.png");
background-repeat: no-repeat;
background-position: right 0px;
height: 25px;
padding: 0 30px 0 0;
line-height: 25px;
text-decoration: none;
float: left;
text-transform: uppercase;
text-decoration: none!important;
font-size: 11px;
}*/



/* View Report Query Button */

div.querybutton {
	/*background-color:#dde5ec!important;*/
}

/*div.querybutton .field-items
{
	float: right;
		margin-right: 15px;
	
}

div.querybutton .field-items {
background-image: url("../images/link-button-left-db-view-report.png")!important;

}

div.querybutton .field-item button 
{
	background-image: url("../images/link-button-right-db-right.png");
	border: 0px;
	background-color: transparent;
	margin-left: 0px;
	
}*/

div.clear
{
	clear: both;
}

/* @group Download PDFs */

h2.table-title.pdf

{
	margin-top: 55px;
	padding-top: 15px;
	border-top: 1px solid #CCC;
}

div.benefits-countrywrapper-inner

{
	display: block;
}

div.selectbox-pdf

{
	float: left;
	margin: 0 20px 0 15px;
}

div.download-pdf 
{
	float: left;
	margin: 0 15px;

}

div.download-pdf div div a

{
	display: inline-block;
	color: #003465;
	text-decoration: none;
	background-image: url('../images/application-pdf.png');
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 25px;
	margin-right: 15px;
}

div.clearpdf
{
	border-bottom: 1px solid #CCC;
	margin: 0 15px;
}


/* @end Download PDFs */

/* @end */

/* @end querypage */

/* @group results */

div.resultstable > table
	{
		width: 680px;
		margin: 0px 20px!important;
		border: 1px solid #CCC;
		padding: 0;
		border-spacing: 0px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
	}
	
h3.table-title

	{
		color: white;
		font-size: 16px;
		border: 0px;
		padding-left: 10px;
	}
	
td.coltitle
	{
		background-color: #224268;
		-moz-border-radius-topleft: 6px;
		-moz-border-radius-topright: 6px;
		-webkit-border-top-left-radius: 6px;
		-webkit-border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

table.results tbody tr td
	
	{
		border-bottom: 1px solid #CCC!important;
	}



	
table.results tbody tr.row4 td,
table.results td.line,
table.results td.age-of-the-employee,
span.table-content-unbold table tbody tr td,
div.jobs2wrapper-content
	{
		border-bottom: none!important;
	}



	
td > div.tdwrapper
	{
		padding: 5px 10px 5px 10px;
	
	}

div.peer-groups 
{
/*			border-bottom: 1px solid #CCC;*/
}

div.separator
	{
		height: 15px;
	}

div.tdwrapper
	{
		line-height: 18px;
	}

td.line .tdwrapper
	{
		text-align: justify;
	}

div.jobs2wrapper,
div.jobs2wrapper-content,
div.market-ranges
	{
		padding: 10px;
	}
	
	
div.jobs2wrapper,
div.jobs2wrapper-content
{
	padding: 5px 5px;
}

/*div.jobs2wrapper.country,
div.jobs2wrapper.location,
div.jobs2wrapper.head-office-in,
div.jobs2wrapper.number-of-employees,
div.jobs2wrapper.turnover,
div.jobs2wrapper.age-of-the-employee,

td.jobs2wrapper.country,
td.jobs2wrapper.location,
td.jobs2wrapper.head-office-in,
td.jobs2wrapper.number-of-employees,
td.jobs2wrapper.turnover,
td.jobs2wrapper.age-of-the-employee


{
	padding: 0px 10px;
}*/
	
div.market-ranges
	{
		padding-left: 0px;
/*		padding-bottom: 5px;*/
	}

div.jobs2wrapper
	{
		width: 150px;
		padding-right: 0px;
		margin-right: 0px;
		text-align: right;
		font-weight: bold;
	}
	
div.jobs2wrapper-content
	{
		width: 430px;
		padding-left: 0px;
		margin-left: 0px;
	}

table.jobs2wrapper-content {
	padding: 0px!important;
}

span.bold
	{
		font-weight: bold;
		text-align: left;
	}
td.col
	{
		text-align: center!important;
	}
	
td.col1 div.market-ranges
	{
		padding-left: 10px;
	}
	
div.download-pdf-button .field-items
	{
		margin-right: 5px;
	}

div.adjust-querybutton .field-items
	{
		margin-right: 20px;
	}

div.download-pdf-button .field-items
	{
		margin-bottom: 10px;
	}

div.adjust-querybutton .field-item a,
div.download-pdf-button .field-item a
{
	background-image: url("../images/link-button-right-db-right.png");
}

div.download-pdf-results div div a
{
	margin-right: 30px;
}

/* @end */

/* @group Free ECDB */

body.fcdb-body

{
/*	margin-left: 50px;*/
/*background-color: transparent!important;*/
}

div.fcdb-querytable
{
	/*width: 710px!important;*/
	padding-bottom: 0px;
	margin-right: 0px;
	
}

.search-wrapper-inner
{
	padding: 15px;
	border-bottom: 1px solid #CCC;
	margin: 0 15px;
}

.search-wrapper button {
	margin-left: 8px;
	margin-left: .5rem;
}

.xspDataTableViewPanel, .xspDataTableViewPanelHeader, .xspDataTableViewPanelFooter, .xspDataTableViewPanelBody {
border: 0px;
vertical-align: baseline;
}

.xspDataTable tbody tr td, /* free ECDB results landing page */
table.company-data-table-inner tbody tr td, /* free ECDB company detail page */
table.manager-data-table tbody tr td td

{
border-bottom: 1px solid #CCC;
font-weight: normal;
vertical-align: baseline;
padding: 10px 0 10px 10px;
}

.xspDataTable
{
	width: 100%;
}

.xspDataTable.second
{
/*	border-left: 1px solid #CCC;
	padding-left: 1%;*/
	
}

table.fcdb-datadable

{
	margin-left: 15px;
}

.dijit
{
	display: inline-block;
}

.dijitInputContainer input.dijitReset
{
	height: 20px;
}

td.xspColumnViewEnd a

{
	font-family: Verdana, Arial, sans-serif;
	color: #003465;
	padding-left: 5px;
}

div.nextbutton .field-items 
{
	float: right;
	margin-right: 0px;
}

/* @group fcdb results */

div.fcdb-results-text,
div.fcdb-landing-text

{
	/*width: 690px;*/
	width: 100%;
	color: #666666;
	margin-bottom: 20px;
	/*padding: 0 15px;*/
	padding: 0;

}

div.fcdb-landing-text
{
	font-size: 16px;
}

div.fcdb-landing-text>div.button {
	margin-top: 31px;
	margin-top: 1.9375rem;
}


div.request-text
{
/*	width: 485px;
	text-align: justify;*/
}

div.company-executive-links
{
	padding: 15px 0 15px 15px;
	border-bottom: 1px solid #CCC;
	margin: 0 15px;
}

div.company-executive-links a
{
	color: #003465;
	font-size: 16px;
}

div.fcdb-results-wrapper
{
	padding-left: 15px;
	font-family: Verdana, Arial, sans-serif;
}

div.fcdb-results-wrapper h2
{
	margin-top: 0px;
	color: #003465;
	font-size: 32px;
}

div.fcdb-results-wrapper h3
{
	margin-bottom: 0px;
	font-size: 24px;
}

table.company-data-table-inner
{
	/*width: 690px;*/
}


table.manager-data-table tbody tr td td
{
	/*width: 676px;*/
}

table.company-data-table-inner th div
{
	text-align: right;
	font-size: 16px;
}

table.company-data-table-inner th div.col1
{
	text-align: left;
}

/* Request for more information button on results pages*/

div.field-link-button.results
{
	margin-top: 10px;
}

div.field-link-button.results .field-items {
	background-image: url("../images/link-button-left.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 24px;
	display: block;
	font-size: 12px;
	line-height: 24px;
/*	margin: -15px 0px 30px 0px;*/
}

div.field-link-button.results .field-item {
	padding-top: 0px;
	display: block;
	padding-left: 10px;
/*	margin-bottom: 26px;*/
}

div.field-link-button.results .field-item a {
	color: white;
	background-image: url("../images/link-button-right.png");
	background-repeat: no-repeat;
	background-position: right 0px;
	height: 24px;
	padding: 0 30px 0 0;
	line-height: 24px;
	text-decoration: none;
	float: left;
/*	text-transform: uppercase;*/
	text-shadow: 1px 1px 0px #AAA;
}

/* pager */
div.fecdb-pager
{
	padding-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 15px;
	padding-bottom: 20px;
	border-top: 1px solid #CCC;
}

div.fecdb-pager a
{
	padding-right: 15px;
}

div.fecdb-pager a.selected
{
	color: #F6B11D;
	font-weight: bold;
}

/* @end fcdb results */

/* @end FRee ECDB */

/* @group Request for more information */

table.countrybox

{
	/*width: 460px;*/
}

/* @group Previous button */

div.previousbutton
{
	vertical-align: top!important;
	margin-top: -26px!important;
/*	margin-left: -10px!important;*/
}

div.previousbutton .field-item
{
	padding-left: 0px;
}

div.previousbutton .field-items {
background-image: url("../images/link-button-previous-left.png")!important;
width: 22px;
background-repeat: no-repeat;
background-position: 0 0;
height: 25px;
display: block;
font-size: 12px;
line-height: 25px;
padding: 0px 0px 0px 12px;
}

div.previousbutton .field-item a 
{
	background-image: url("../images/link-button-previous-right.png");
	background-position: 10px 0px;
	padding-left: 15px;
	width: 100px;
}

/* @end previous button */

/* @end */

/* pre wrappers for choices in search */

pre 
{
	font-family: Verdana, Arial, sans-serif;
	color: #003465;
	font-size: 16px;
	padding: 0px 0px 5px 0px;
	margin: 0px;
/*	border-bottom: 1px solid #CCC;*/
}