/* Flags for offices - started 11.04.2011 - criscom*/

/* @group Europe & CIS flags */

#node-29 .city-country-wrapper,
body.page-node-29 .city-country-wrapper
    { /*Albania */
	background-image: url("../images/flags/flag_Albania.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-50 .city-country-wrapper,
body.page-node-50 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Armenia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-24 .city-country-wrapper,
body.page-node-24 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Austria.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-51 .city-country-wrapper,
body.page-node-51 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Azerbaijan.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-42 .city-country-wrapper,
body.page-node-42 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Belarus.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-43 .city-country-wrapper,
body.page-node-43 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Lithuania.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}


#node-28 .city-country-wrapper,
body.page-node-28 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Bosnia_Her.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-32 .city-country-wrapper,
body.page-node-32 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Bulgaria.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-27 .city-country-wrapper,
body.page-node-27 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Croatia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-137 .city-country-wrapper,
body.page-node-137 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Cyprus.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-15 .city-country-wrapper,
body.page-node-15 .city-country-wrapper
    { /*czech republic */
	background-image: url("../images/flags/flag_Czech_Republic.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-45 .city-country-wrapper,
body.page-node-45 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Estonia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-46 .city-country-wrapper,
body.page-node-46 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Finland.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-49 .city-country-wrapper,
body.page-node-49 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Georgia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-25 .city-country-wrapper,
body.page-node-25 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Germany.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-30 .city-country-wrapper,
body.page-node-30 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Greece.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-35 .city-country-wrapper,
body.page-node-35 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Hungary.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-53 .city-country-wrapper,
body.page-node-53 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Kazakhstan.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-44 .city-country-wrapper,
body.page-node-44 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Latvia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-31 .city-country-wrapper,
body.page-node-31 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Macedonia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-40 .city-country-wrapper,
body.page-node-40 .city-country-wrapper,
#node-1462 .city-country-wrapper,
body.page-node-1462 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Moldava.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-37 .city-country-wrapper,
body.page-node-37 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Poland.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-38 .city-country-wrapper,
body.page-node-38 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Romania.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-47 .city-country-wrapper,
body.page-node-47 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Russia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-48 .city-country-wrapper ,
body.page-node-48 .city-country-wrapper
   { /* */
	background-image: url("../images/flags/flag_Russia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-33 .city-country-wrapper,
body.page-node-33 .city-country-wrapper
 { /* */
	background-image: url("../images/flags/flag_Serbia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-36 .city-country-wrapper,
body.page-node-36 .city-country-wrapper
 { /* */
	background-image: url("../images/flags/flag_Slovakia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-26 .city-country-wrapper,
body.page-node-26 .city-country-wrapper
  { /* */
	background-image: url("../images/flags/flag_Slovenia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-658 .city-country-wrapper,
body.page-node-658 .city-country-wrapper
  { /* */
	background-image: url("../images/flags/flag_Spain.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-52 .city-country-wrapper,
body.page-node-52 .city-country-wrapper
  { /* */
	background-image: url("../images/flags/flag_Uzbekistan.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-39 .city-country-wrapper,
body.page-node-39 .city-country-wrapper
   { /* */
	background-image: url("../images/flags/flag_Turkey.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-41 .city-country-wrapper,
body.page-node-41 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Ukraine.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-408 .city-country-wrapper,
body.page-node-408 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_UK.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-892 .city-country-wrapper,
body.page-node-892 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_France.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

/* @end */

/* @group Middle East & Africa */

#node-22 .city-country-wrapper,
body.page-node-22 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Egypt.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-57 .city-country-wrapper,
body.page-node-57 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Iran.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-56 .city-country-wrapper,
body.page-node-56 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Israel.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-55 .city-country-wrapper,
body.page-node-55 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Nigeria.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-58 .city-country-wrapper,
body.page-node-58 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Arabia-Saugi.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-54 .city-country-wrapper,
body.page-node-54 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_South_Africa.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-59 .city-country-wrapper,
body.page-node-59 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Arab_Emirates.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-748 .city-country-wrapper,
body.page-node-748 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_nairobi.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

/* @end */

/* @group Asia */

#node-60 .city-country-wrapper,
body.page-node-60 .city-country-wrapper,
#node-208 .city-country-wrapper,
body.page-node-208 .city-country-wrapper,
#node-402 .city-country-wrapper,
body.page-node-402 .city-country-wrapper
    { /* India */
	background-image: url("../images/flags/flag_India.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-23 .city-country-wrapper,
body.page-node-23 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Mongolia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-689 .city-country-wrapper,
body.page-node-689 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_china.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-690 .city-country-wrapper,
body.page-node-690 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_indonesia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-1230 .city-country-wrapper,
body.page-node-1230 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Thailand.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-1237 .city-country-wrapper,
body.page-node-1237 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Singapore.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

/* @end */



/* @group Americas */

#node-21 .city-country-wrapper,
body.page-node-21 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Canada.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-1201 .city-country-wrapper,
body.page-node-1201 .city-country-wrapper {
	background-image: url("../images/flags/flag_chile.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-659 .city-country-wrapper,
body.page-node-659 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Colombia.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-713 .city-country-wrapper,
body.page-node-713 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_brazil.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-1015 .city-country-wrapper,
body.page-node-1015 .city-country-wrapper
    { /* */
	background-image: url("../images/flags/flag_Peru.png");
	background-repeat: no-repeat;
	background-position: -3px 3px;
	height: 42px;
}

#node-1333 .city-country-wrapper,
body.page-node-1333 .city-country-wrapper
    { /* */
    background-image: url("../images/flags/flag_Hong_Kong.png");
    background-repeat: no-repeat;
    background-position: -3px 3px;
    height: 42px;
}

#node-1350 .city-country-wrapper,
body.page-node-1350 .city-country-wrapper
    { /* */
    background-image: url("../images/flags/flag_Mexico.png");
    background-repeat: no-repeat;
    background-position: -3px 3px;
    height: 42px;
}

#node-1478 .city-country-wrapper,
body.page-node-1478 .city-country-wrapper
    { /* */
    background-image: url("../images/flags/flag_USA.png");
    background-repeat: no-repeat;
    background-position: -3px 3px;
    height: 42px;
}

/* @end */

